[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
paramiko = "*"
pyyaml = "*"
pandas = "*"
vastai = "*"
prometheus-client = "*"
base58 = "*"

[dev-packages]

[requires]
python_version = "3.10"
