[Unit]
Description=Quil Node Service
After=network.target

[Service]
Environment="GOEXPERIMENT=arenas"
ExecStart=/bin/bash release_autorun.sh
WorkingDirectory=/root/ceremonyclient/node
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target